

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.viz_canvas {
    position: absolute;
    left: 1em;
    top: 3em;  
    -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));
    
}

aside {
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 10;

}

#myaudio {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
}
#myaudio.show {
    opacity: 1;
}


